/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 22px;
  }

  .breadcrumb {
    margin-top: 20px;
  
  }
  
  ul.plain {
    list-style-type: none;
    margin: 0px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  
  .nav-header {
    padding-left: 10px;
  }

  .sub-header {
    padding-left: 20px;
  }
  
  .nav-list input[type="text"]{
    width: 100%;
  }
  
  .nav-list table{
    width: 100%
  }
  
  .nav-list select{
    width: 100%;
  }
  










