/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
  body {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .breadcrumb {
    margin-top: 20px;
  
  }
  
  ul.plain {
    list-style-type: none;
    margin: 0px;
  }
  
  form {
    margin-bottom: 0px;
  }
  
  #sizer a{
    display: block;
  }











